.react-tabs__tab-panel {
  height: 100%
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  background: #626763;
  padding: 8px 15px;
}

.react-tabs__tab {
  display: inline-block;
  position: relative;
  list-style: none;
  cursor: pointer;
  margin: 0;
  margin-right: 5px;
  font-size: 20px;
}


.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  height: calc(100% - 48.39px);
}

.editor-container {
  position: relative;
}

.config-btn {
  position: absolute;
  top: 8px;
  right: 15px;
  font-size: 20px;
}
